/* footer */

.footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
  }
  
  .footer {
    background: var(--footer-color);
  
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  